*{
  background-color: rgb(216, 187, 187);
}
.App {
  text-align: center;
}

.container{
  display: flex;
  justify-content: center;
  margin: 20px auto;
  padding: 10px 5px;
  box-shadow: 2px 2px 6px darkgray;
}
.img_div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.img_div img{
width: 20%;
margin: 10px;
}